/*
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */
.col-md-6{
padding:0;
#img{
height: 100vh;
width: 100%;
}
}
.col-md-5{
padding: 0;
h2{
	letter-spacing: 3px;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Poppins';
    font-size: 3rem;
    padding-bottom: 10px;
    padding-top: 100px;
}
p {
color: #b3b3b3;
font-size: 19px;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
a{
margin-left: -3px;
font-size: 18px;
text-decoration: none;
font-weight: unset;
font-family: 'popins',sans-serif;
color: #0e81dd;
text-shadow: 1px 1px 1px lightcyan;
}
.svg{
box-shadow: 3px 3px 7px #fff;
border-radius: 18px;
margin-right:10px;
}
}
.row {
h3{
padding-left:117px;
margin-top: -220px;
}
#inline{
display: flex;
flex-direction: row;
border: 1px solid ghostwhite;
background-color: ghostwhite;
margin-top: -170px;
height: 140px;
padding-top:42px;

	label{
		color: lightgrey;
    	margin-left: 50px;
    	font-weight: normal;
        width: 37px;
	}
    input{
        height: 35px;
    width: 165px;
    margin-top: 41px;
    margin-left: -37px;
    border: none;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 4px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;

}

#svg{
    margin-top: 52px;
    margin-left: -19px;
}


.form-select{
	border: none;
    border-radius: 0;
    padding: 0;
    height: 35px;
    margin-top: 40px;
    margin-left: -38px;
    width: 172px;
    padding-left:5px;
}


#btn{
height: 50px;
padding: 10px 50px 10px 50px;
padding-left: 33px;
padding-right: 33px;
border-radius: 0;
margin-left: 100px;
box-shadow: 3px 3px 12px 6px #0000001c;
font-size: 17px;
color: #d6e4e9;
margin-top: 5px;
&:hover{
color: #0d6efd;
transition: 0.3s;
background: transparent;

}
}
}
#row-header{
margin-top: -92px;
margin-left: 43px;
font-size: 20px;
font-family: 'Poppins';
width: 97%;
.col-md-2{
width: 219px;
font-weight: 500;
}
.last{
width: 214px;
}
}

}